{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
			 <!-- CSS
	    ================================================== -->
	    <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title> STL_list </title>
	</head>
	<body>

	<nav class="navbar navbar-inverse">
	<div class="container">
	<div class = "navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

		</div>
		
		</div>
        <div id="navbar" class="collapse navbar-collapse">
        		  <a class="navbar-brand" href="/printer/dashboard">INCKU</a>
           <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">About US</a></li>
	      <li><a href="#">WORK</a></li>
	      <li><a href="#">TEAM</a></li>
	      <li><a href="#">CONTACT</a></li>
	      <li>'        '</li>
	      <li>'        '</li>
	      <li>'        '</li>
	      <li>'        '</li>
	      <li>'        '</li>
	      <li><a href="#">username : {{ user }}  money: {{ user.profile.money }}</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
	      <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-in"></span>Log out</a></li>
	    </ul>
        </div>
	   
	  </div>
	</nav>
		<div class="container">
		<div class="jumbotron">
		  <h2>Your Model shop</h2>
		  <p>The page models which you saled.</p>
		 </div>
		  <table class="table">	
    	<thead>
    		<tr>
		        <th><h3>Model-name</h3></th>
		        <th><h3>Image</h3></th>
		        <th><h3>Price</h3></th>
		        <th><h3>Publsh date</h3></th>
		        <th><h3>moldify</h3></th>
		     </tr>
    	</thead>
    	   <tbody>
    	   {% for model in post %}
      		   <tr class="success">
		    	<td><h4>{{ model.model_name }}</h4></td>
		    	<td><img src="{{ model.model_image.url }}" width="150" height="150" /></td>
		    	<td><h4>{{ model.model_price }}</h4></td>
		        <td><h4>{{ model.model_date|date:"Y/m/d" }}</h4></td>
		        <td><h4><a href="{% url 'model_modify' pk=model.pk%}"><input type="submit" name="moldify" value="moldify"></button></a>
		        </h4></td>
		      </tr>
		    {% endfor %}
		    </tbody>
		  </table>
		</div>



    		
	</body>
</html>