{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">  

        <script type="text/javascript" src='{% static 'members/js'%}'></script>
        </script>
		<title>Print B-1</title>
	</head>
	<body>
		<div class="header">
		    <div class="col">
			    <a href="/dashboard"><h1 >INCKU</h1></a>
		    </div>
		    <div class="col">
			    <a href="/accounts/logout" class="btn2">Log out</a>>				
		    </div>
		</div>
		<div class="bottom">
		<div class="container">
			<ul class="nav">
				<a href=#><li><h3>About US</h3>
				<span>We are the group who dedicate to education</span></li></a>
				<a href=#><li><h3>WORK</h3>
				<span>Integration the resources of the South</span></li></a>
				<a href=#><li><h3>TEAM</h3>
				<span>NCKU:
				CILS LAB ,Ms young LAB,Mr Lin LAB ,and many Taina school</span></li></a>
				<a href=#><li><h3>CONTACT</h3>
				<span>06-2762544-25</span></li></a>
				<li><h3>username : {{ user }}  money: {{ user.profile.money }}</h3>
			</ul>
		</div>
		</div>
	<body>
		<div class="container_upload">
    	<table >
    		<h4>My file
    		<form method="post" enctype="multipart/form-data" action="">
    			<h6>上傳stl檔案 :<input type='file' id="upload" name="stl_file" ></h6>
   				<input type="submit" name="PrintB_1" value="upload"></button><br />
    		</form>  
    		</h4>
    		<tbody class="tbod">
    		{% for stl in stl %}
        	<tr>
        	    <td><h3>檔案名稱: {{ stl.stl_name }}</h3></td>
        	    <td><img src="/i/eg_tulip.jpg"></img></td>
        	    <td><h3>上傳時間: {{ stl.stl_date|date:"Y/m/d" }}</h3></td>
        	    <td><a href="{% url 'Stl_Delete' pk=stl.pk%}">Print</a> <a href="{% url 'PrintB-3' pk=stl.pk%}" value="delete" onclick="if(confirm('確認是否要刪除?')) return true;else return false">delete</a></td>
        	</tr>
        	{% endfor %}
        	</div>
    	</tbody>
    	</table>
    	</div> 	
    	<div id="bottom2">
		<div class="contain-bottom">
			<p>&copy; TEST 2016</p>	
		</div>
		</div>
	</body>
</html>